$main_color: #FFFFFF
$overlay_color: #0000001A
$text_color: #000000
$description_color: #999999
$theme_color: #F5F6F7
$theme_active_color: #BBA78A
$theme_hover_color: #EEEFF0
$theme_description_text_color: #999999
$tag_color: #ffffffd0
$pagination_item_color: #FFFFFF66
$about_label_color: #00000066

.wrapper
    display: flex
    flex-direction: column
    justify-content: center
    width: 100vw
    gap: 50px

    .face
        display: flex
        width: 100%
        height: 100vh
        position: relative

        .video_container
            display: flex
            align-items: start
            min-height: 50vh
            max-height: 100vh
            width: 100vw
            overflow: hidden
            position: relative

            video
                width: 100%
                height: 100vh
                object-fit: fill

            .overlay
                background-color: $overlay_color
                position: absolute
                z-index: 1
                width: 100%
                height: 100%

        .content
            display: flex
            width: calc(100% - 80px)
            justify-content: space-between
            align-items: end
            position: absolute
            z-index: 2
            bottom: 0
            padding: 40px
            color: $main_color

            .welcome
                display: flex
                flex-direction: column
                gap: 32px

                .subtitle
                    opacity: .8
                    font-size: 18px
                    font-family: 'NeueHaasThin'

                .title
                    font-size: 108px
                    line-height: 92px
                    font-family: 'NeueHaasRoman'
                    word-break: break-word

            .cards
                display: flex
                gap: 20px
                width: 400px
                flex-wrap: wrap
                justify-content: space-between

                .card
                    display: flex
                    gap: 8px
                    width: 185px

                    .icon
                        display: flex
                        height: 48px
                        aspect-ratio: 1

                        img
                            display: flex
                            height: 100%
                            width: 100%

                    .text
                        font-size: 20px
                        font-weight: 20px
                        font-family: 'NeueHaasThin'
                        opacity: .9

    .wrapper_container
        padding: 40px
        display: flex
        flex-direction: column
        gap: 32px

        .title
            font-size: 64px
            line-height: 64px
            color: $text_color
            font-family: 'NeueHaasRoman'
            display: flex
            flex-direction: column
            gap: 16px

            .description
                font-size: 16px
                color: $description_color

            .button_mobile
                display: none
                align-self: start

    .themes
        .title
            width: 715px

        .themes_container
            display: flex
            gap: 6px
            height: 750px

            .themes_slider
                display: none

            .themes_list
                display: flex

            .themes_list,
            .themes_slider
                flex-direction: column
                flex-grow: 1
                height: 100%

                .theme
                    position: relative
                    width: 100%
                    height: 20%
                    display: flex

                    &.active
                        .info
                            background-color: $theme_active_color

                        .info
                            .content
                                .name,
                                .description
                                    color: $main_color

                    .info
                        display: flex
                        gap: 16px
                        padding: 0px 22px
                        width: calc(100% - 44px)
                        height: 100%
                        background-color: $theme_color
                        align-items: center
                        font-family: 'NeueHaasRoman'
                        cursor: pointer
                        transition: all .2s ease-out

                        img
                            height: 110px
                            aspect-ratio: 1
                            border-radius: 55px

                        .content
                            display: flex
                            flex-direction: column
                            gap: 5px

                            .name
                                font-size: 32px
                                line-height: 42px
                                color: $text_color

                            .description
                                font-size: 16px
                                color: $theme_description_text_color

                    .about
                        display: flex
                        justify-content: space-between
                        padding: 22px 0px
                        width: 0px
                        height: calc(100% - 44px)
                        overflow: hidden
                        position: absolute
                        z-index: 3
                        top: 0
                        left: calc(100% + 30px)
                        background-color: $theme_hover_color
                        cursor: default
                        transition: all .2s ease-out

                        .column
                            display: flex
                            flex-direction: column
                            justify-content: space-between

                            .item
                                display: flex
                                flex-direction: column
                                gap: 2px

                                .label
                                    font-size: 14px
                                    color: $about_label_color
                                    font-family: 'NeueHaasRoman'

                                .value
                                    font-size: 16px
                                    font-family: 'NeueHaasRoman'

            .slider
                width: 1200px
                align-items: center
                position: relative
                overflow: hidden

                .image
                    width: 100%
                    height: 750px
                    min-height: 100%

                    img
                        height: 100%
                        width: auto

                .pagination
                    display: flex
                    gap: 5px
                    position: absolute
                    z-index: 2
                    bottom: 24px
                    left: 50%
                    transform: translateX(-50%)

                    .item
                        width: 7px
                        height: 7px
                        border-radius: 10px
                        cursor: pointer
                        background-color: $pagination_item_color
                        transition: all .2s ease-out

                        &.active
                            background-color: $main_color

                .actions
                    display: flex
                    justify-content: space-between
                    width: calc(100% - 48px)
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    z-index: 2

                    .action
                        display: flex
                        align-items: center
                        justify-content: center
                        height: 48px
                        width: 48px
                        background-color: $main_color
                        opacity: 0
                        transition: all .2s ease-out

                        &.active
                            opacity: 1
                            cursor: pointer

                        .arrow
                            width: 24px
                            height: 24px

        button
            width: max-content
            height: 50px
            align-self: center

    .services
        margin: 50px 0

        .title
            width: 1300px

        .services_list
            display: flex
            flex-wrap: wrap
            gap: 8px
            justify-content: space-between

            .service
                display: flex
                height: 560px
                background-position: center
                background-repeat: no-repeat
                transition: all .35s ease-out

                &.small
                    width: 33%
                    background-image: url("../../assets/images/rooftop.jpg")
                    background-size: auto 140%

                &.medium
                    width: calc(67% - 8px)
                    background-image: url("../../assets/images/meeting_room.jpg")
                    background-size: 100% 100%
                    background-position-y: bottom

                &.big
                    width: 100%
                    background-image: url("../../assets/images/spa.png")
                    background-size: 100% auto

                .content
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    padding: 32px
                    width: calc(100% - 64px)
                    height: calc(100% - 64px)

                    .main_info
                        display: flex
                        flex-direction: column
                        gap: 12px

                        .tags_list
                            display: flex
                            flex-wrap: wrap
                            gap: 6px

                            .tag
                                display: flex
                                padding: 8px 16px
                                border-radius: 34px
                                border: 1.5px solid $tag_color
                                font-size: 16px
                                font-family: 'Inter', sans-serif
                                font-weight: 300
                                color: $tag_color

                        .name
                            font-size: 64px
                            font-family: 'NeueHaasRoman'
                            color: $main_color

                    .actions
                        display: flex
                        gap: 9px

                        .book_mobile
                            display: none

                        .book,
                        .book_mobile
                            height: 50px

                        .more
                            width: 130px
                            height: 50px

@media (hover: hover)
    .wrapper
        .themes
            .themes_container
                .themes_list
                    .theme
                        &:hover
                            .info
                                background-color: $theme_hover_color

                            &.active
                                .info
                                    background-color: $theme_active_color

                        .info
                            &:hover
                                + .about
                                    padding: 22px
                                    width: 328px

        .services
            .services_list
                .service
                    &:hover
                        &.small
                            background-size: auto calc(140% + 30px)

                        &.medium
                            background-size: calc(100% + 30px) calc(100% + 30px)

                        &.big
                            background-size: calc(100% + 30px) auto

@media (max-width: 1400px)
    .wrapper
        .services
            .title
                width: 100%

@media (max-width: 1000px)
    .wrapper
        gap: 40px

        .face
            .content
                flex-direction: column
                gap: 24px
                align-items: start
                width: calc(100% - 64px)
                padding: 32px

                .welcome
                    gap: 24px

                    .title
                        font-size: 85px
                        line-height: 82px

                .cards
                    width: 100%

                    .card
                        width: calc(33% - 20px)

                        .text
                            font-size: 18px
                            font-weight: 18px

        .wrapper_container
            padding: 0 32px
            width: calc(100% - 64px)

            .title
                font-size: 55px
                line-height: 55px
                gap: 8px

                .description
                    font-size: 16px

                .button_mobile
                    display: flex

        .themes
            .title
                width: 100%

            .themes_container
                flex-direction: column-reverse
                gap: 0px
                height: 780px

                .themes_list
                    display: none

                .themes_slider
                    display: flex
                    height: 100px
                    flex-grow: 0

                    .theme_item
                        display: flex

                    .theme
                        width: 300px
                        height: 100px

                        .info
                            gap: 8px
                            padding: 0px 16px
                            width: calc(100% - 32px)

                            img
                                height: 70px

                            .content
                                display: flex
                                flex-direction: column
                                gap: 5px

                                .name
                                    font-size: 28px
                                    line-height: 38px

                .slider
                    width: auto
                    height: 680px
                    overflow: hidden

                    .image
                        min-width: 100%
                        min-height: 100%

                        img
                            height: 100%
                            width: auto

                    .actions
                        width: calc(100% - 32px)

                        .action
                            height: 44px
                            width: 44px

                            .arrow
                                width: 22px
                                height: 22px

            button
                display: none

        .services
            margin: 40px 0

            .services_list
                .service
                    &.small
                        width: 100%
                        background-size: auto 100%

                    &.medium
                        width: 100%
                        background-size: auto 100%

                    &.big
                        width: 100%
                        background-size: auto 100%

                    .content
                        .main_info
                            .tags_list
                                .tag
                                    padding: 8px 14px

                            .name
                                font-size: 55px

                        .actions
                            gap: 12px

                            .book_mobile
                                display: flex

                            .book
                                display: none

@media (max-width: 600px)
    .wrapper
        gap: 24px

        .face
            .content
                width: calc(100% - 32px)
                padding: 16px

                .welcome
                    gap: 16px

                    .title
                        font-size: 67px
                        line-height: 57px

                .cards
                    width: 100%

                    .card
                        width: calc(50% - 20px)
                        align-items: center

                        .text
                            font-size: 16px
                            font-weight: 16px

        .wrapper_container
            padding: 0 16px
            width: calc(100% - 32px)

            .title
                font-size: 44px
                line-height: 44px

                .description
                    font-size: 14px
                    line-height: 19px

        .themes
            .title
                width: 100%

            .themes_container
                flex-direction: column-reverse
                gap: 0px
                height: 780px

                .themes_slider
                    .theme
                        width: 70vw

                        .info
                            .content
                                gap: 4px

                                .name
                                    font-size: 24px
                                    line-height: 34px

                                .description
                                    font-size: 14px

                .slider
                    .actions
                        width: calc(100% - 12px)

                        .action
                            height: 42px
                            width: 42px

                            .arrow
                                width: 20px
                                height: 20px

        .services
            margin: 32px 0

            .services_list
                .service
                    &.small
                        width: 100%

                    &.medium
                        width: 100%

                    &.big
                        width: 100%

                    .content
                        padding: 16px
                        width: calc(100% - 32px)
                        height: calc(100% - 32px)

                        .main_info
                            .tags_list
                                .tag
                                    font-size: 14px

                            .name
                                font-size: 44px

                        .actions
                            align-self: center

                            .book_mobile
                                display: flex

                            .book
                                display: none
