$header_border_color: #FFFFFF26
$main_color: #FFFFFF
$button_text_color: #000000
$button_border_color: #FFFFFF66
$button_hover_color: #DCDDDE
$button_hover_border_color: #DCDDDE66
$button_active_color: #B9B9BA
$button_active_border_color: #B9B9BA66
$button_secondary_color: #BBA78A
$button_secondary_border_color: #BBA78A66
$button_secondary_hover_color: #94846D
$button_secondary_hover_border_color: #94846D66
$button_secondary_active_color: #7A6D5A
$button_secondary_active_border_color: #7A6D5A66

@font-face
    font-family: "NeueHaasRoman"
    src: url("./fonts/NeusHaas/NeueHaasDisplayRoman.ttf")

@font-face
    font-family: "NeueHaasThin"
    src: url("./fonts/NeusHaas/NeueHaasDisplayThin.ttf")

*
    padding: 0
    margin: 0
    font-weight: 500

html,
body
    width: 100%
    margin: 0
    padding: 0
    overflow-y: auto
    overflow-x: hidden
    background-color: $main_color

.wrapper
    display: flex
    flex-direction: column
    scroll-behavior: smooth
    height: 100%
    position: relative

header
    position: absolute
    z-index: 10
    height: 75px
    width: 100vw
    border-bottom: 1px solid $header_border_color

footer
    width: calc(100vw - 80px)
    padding: 40px

button
    padding: 2px
    border: 1.5px solid $button_border_color
    background-color: transparent
    cursor: pointer
    font-size: 18px
    font-family: 'NeueHaasRoman'
    color: $button_text_color

    .content
        background-color: $main_color
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        transition: all .2s ease-out

    &:active
        border: 1.5px solid $button_active_border_color

        .content
            background-color: $button_active_color

    &.secondary
        color: $main_color
        border: 1.5px solid $button_secondary_border_color

        .content
            background-color: $button_secondary_color

        &:active
            border: 1.5px solid $button_secondary_active_border_color

            .content
                background-color: $button_secondary_active_color

@media (hover: hover)
    button
        &:hover
            border: 1.5px solid $button_hover_border_color

            .content
                background-color: $button_hover_color

        &.secondary
            &:hover
                border: 1.5px solid $button_secondary_hover_border_color

                .content
                    background-color: $button_secondary_hover_color
